user=root
no-hosts
no-negcache
log-queries=extra
log-facility=/var/log/dnsmasq.log
log-dhcp
read-ethers
addn-hosts = /var/lib/cobbler/cobbler_hosts
dhcp-no-override
dhcp-lease-max=1000
dhcp-authoritative
dhcp-match=set:bios,option:client-arch,0
dhcp-range=192.168.4.1,static,255.255.255.0
dhcp-boot=tag:bios,pxelinux.0

$insert_cobbler_system_definitions
